anyio
appnope
argon2-cffi
argon2-cffi-bindings
attrs
Babel
backcall
beautifulsoup4
bleach
brotlipy==0.7.0
captum==0.5.0
certifi
cffi
charset-normalizer==2.1.1
cryptography
cycler==0.11.0
dataclasses==0.6
debugpy
decorator
defusedxml
einops==0.6.0
entrypoints
fastjsonschema
filelock==3.8.2
flit_core
fonttools==4.38.0
ftfy==6.1.1
future==0.18.2
h5py==3.7.0
huggingface-hub==0.11.1
idna
imageio==2.22.4
importlib-metadata==5.1.0
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
json5
jsonschema
jupyter
jupyter-console
jupyter-server
jupyter_client
jupyter_core
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kiwisolver==1.4.4
lxml
MarkupSafe
matplotlib==3.5.3
matplotlib-inline
mistune==0.8.4
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx==2.6.3
notebook
notebook_shim
numpy==1.21.6
opencv-python==4.6.0.66
packaging==22.0
pandocfilters
parso
pexpect
pickleshare
Pillow==9.3.0
pkgutil_resolve_name
ply==3.11
prometheus-client
prompt-toolkit
psutil
ptyprocess
pycparser
Pygments==2.13.0
pyOpenSSL
pyparsing
PyQt5-sip==12.11.0
pyrsistent
PySocks
python-dateutil
pytz
PyWavelets==1.3.0
PyYAML==6.0
pyzmq
qtconsole
QtPy
regex==2022.10.31
requests
scikit-image==0.19.3
scipy==1.7.3
Send2Trash
sip
six
sklearn==0.0.post1
sniffio
soupsieve
terminado
tifffile==2021.11.2
tinycss2
tokenizers==0.13.2
toml
tomli
torch==1.7.0
torchvision==0.8.1
tornado
tqdm==4.64.1
traitlets
transformers==4.25.1
typing_extensions
urllib3
wcwidth
webencodings==0.5.1
websocket-client
wget==3.2
widgetsnbextension
zipp==3.11.0